.game-settings {
  padding: 3em 1em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 2em;
  select.difficulty-level {
    width: 90%;
  }

  .buttons {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;

    button {
      background: linear-gradient(135deg, hsl(230 34% 69%), hsl(230, 35%, 35%));
      color: white;
      font-size: 22px;
      font-weight: bold;
      padding: 16px 10px;
      border-radius: 12px;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease;
      text-align: center;
      position: relative;
      overflow: hidden;
    }
  }
}
