.game_area {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    border: solid black 1px;
    display: grid;
}

.active_game {
    display: grid;
    grid-template-rows: 1fr auto;
}